body {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}
h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.15rem;
}

p, label {
  font-size: 1rem;
}

li {
  font-size: .75rem;
}

.btn {
  width: 50%;
}

/* Nav Styling */

nav {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}

li {
  list-style: none;
  padding: 2%;
  margin-right: 2%;
}

.nav-text {
  width: 50%;
  margin-left: 1%;
}

/* login style */

.login-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Friend styling */

.friendo {
  margin: .25%;
  background-color: beige;
  width: 35%;
}

.friendo h3, p{
  margin: 0;
  padding: 1%;
}

.friends-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* friend form style */

.form-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}